*.pyc

# Exclude all data files within dated directories, except for README.md
# Can always manually git add important scripts, etc.
Data/
BigData/
Figs/
!README.md
!notebook.md
Test/*
.RData
.Rhistory
.Rproj.user
.idea/
.codelite/
Python/gridcalc/CIF_FILES/
Python/gridcalc/Metric.txt
Python/gridcalc/timer.txt
Python/gridcalc/Profiling/
Python/gridcalc/OldFiles/
Python/gridcalc/timestamp.txt
whatever.rds
propane_60bar.txt
R/Dependency_graph.R
Energies/
GenericMOF_Energies/
*.rds
*.jpg
*.jpeg
*.csv
/propane_1bar_60K_Cycle.txt
Picture/
All_Data/*.rds
All_Data/HGGG*
All_Data/*.csv
GenericMOF_Gradients/
Kr_energies/
HeatMaps/
UFF_Energies/
Famous_mofs/
R/Propane_with_different_features.R
*.png
Results/
old_Results/
Raw_energies_data/
All_data/OLD_Data_files
All_data/mid_process_data
All_data/merge_data
R/another_change_data.R
R/analysing_coremofs.R
R/change_data.R
R/EnergyHistogram_Effective_Ethan.R
R/EnergyHistogram_NewTrials.R
R/plot_PSD.R
All_Data/*.txt
*.txt
/All_old_data/
/Old_scripts/
/MSDE_Example_old/
/Notebooks/
