*.pyc

# Exclude all data files within dated directories, except for README.md
# Can always manually git add important scripts, etc.
Data/
BigData/
Figs/
!README.md
!notebook.md
Test/*
.RData
.Rhistory
.Rproj.user
.idea/
.codelite/
Python/gridcalc/CIF_FILES/
Python/gridcalc/Metric.txt
Python/gridcalc/timer.txt
Python/gridcalc/Profiling/
Python/gridcalc/OldFiles/
Python/gridcalc/timestamp.txt
whatever.rds
propane_60bar.txt
R/Dependency_graph.R
Energies/
GenericMOF_Energies/
*.rds
*.jpg
*.jpeg
*.csv
/propane_1bar_60K_Cycle.txt
Picture/
All_Data/
GenericMOF_Gradients/
Kr_energies/
HeatMaps/
UFF_Energies/
Famous_mofs/